body {
    font-size: 150%;
    font-family: monospace;
}

label {
    display: inline-block;
    width: 150px;
    text-align: left;
}

#logo {
    font-family: Calibri, sans-serif;
    font-weight: lighter;
    color: #505050;
    margin: 0.5em;
}

#sem {
    text-align: center;
    margin-top: 1em;
}

#input-div-1 {
    text-align: center;
    margin-top: 1em;
    background-color: #d5d8dc;
}

#input-div-2 {
    text-align: center;
    background-color: #abb2b9;
}

#output-div {
    text-align: center;
    background-color: #808b96;
}

.display-item {
    font-size: 90%;
    color: black;
    font-family: monospace;
    background-color: white;
    padding: 0.2em;
    margin: 0.2em;
    letter-spacing: 0.1em;
    width: 380px;
    text-align: right;
}

.display-attendance {
    font-size: 90%;
    color: black;
    background-color: white;
    padding: 0.2em;
    margin: 0.2em;
    font-family: monospace;
    letter-spacing: 0.1em;
    width: 40px;
}

.display-output {
    font-size: 90%;
    color: black;
    background-color: white;
    padding: 0.2em;
    margin: 0.2em;
    font-family: monospace;
    letter-spacing: 0.1em;
    width: 600px;
}

.sembutton-active {
    background-color: #2874a6;
    color: white;
    padding: 0px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    height: 50px;
    width: 400px;
}

.sembutton-inactive {
    background-color: gray;
    color: white;
    padding: 0px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    height: 50px;
    width: 400px;
}

.sembutton-clear {
    background-color: #c0392b;
    color: white;
    padding: 0px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    height: 40px;
    width: 400px;
}
